<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.atb.app"
    android:installLocation="preferExternal">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission-sdk-23 android:name="android.permission.READ_CALENDAR"/>
    <uses-permission-sdk-23 android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:required="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.navigationItems.business.BuildBusinessStoreActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.navigationItems.business.BusinessProfilePaymentActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.navigationItems.booking.FutureBookingActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.navigationItems.booking.BookingSplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.chat.ChatActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.navigationItems.booking.ChangeRequestBookingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.navigationItems.booking.ChangeBookingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.profile.boost.ApprovePaymentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.register.forgotPassword.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.register.forgotPassword.InputVerificationCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.register.forgotPassword.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.newsfeedpost.EditSalesPostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.navigationItems.other.BookingRateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.navigationItems.other.ProfileRatingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.navigationItems.booking.MyBookingViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.navigationItems.booking.MyBookingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.navigationItems.booking.BookFromPostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.navigationItems.PurchasesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.ApplozicTheme"
            tools:node="replace">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.navigationItems.other.LocationMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.profile.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.profile.boost.PinPointActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.profile.boost.ProfilePinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.profile.boost.PinPointAnimationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.profile.boost.ProfilePinAnimationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.profile.boost.BoostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.navigationItems.TellYourFriendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.navigationItems.business.BusinessProductPostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.navigationItems.business.UpgradeBusinessSplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.profile.ReviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.profile.ReportPostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.navigationItems.SetOperatingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.profile.OtherUserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.profile.FollowerAndFollowingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.newpost.SelectProductCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.profile.ProfileUserNavigationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.VideoPlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.navigationItems.booking.CreateBooking2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.navigationItems.booking.BookingViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.navigationItems.booking.CreateABookingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.navigationItems.SavePostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.navigationItems.ContactAdminActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.navigationItems.TransactionHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.navigationItems.SetPostRangeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.navigationItems.CreateAmendBioActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.navigationItems.ItemSoldActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.navigationItems.BookingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.navigationItems.business.UpdateBusinessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.navigationItems.NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.profile.ProfileBusinessNaviagationActivity"
            android:label="@string/title_activity_profile_naviagation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.navigationItems.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.newsfeedpost.ExistSalesPostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.newsfeedpost.NewPollVotingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.newsfeedpost.NewServiceOfferActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.newsfeedpost.NewSalePostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.newsfeedpost.NewAdviceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.newpost.SelectPostCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.newsfeedpost.NewsDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.register.CreateFeedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.register.ProfileSetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.register.Signup2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.register.Signup1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen"
            tools:ignore="IntentFilterExportedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="yourapp" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links (optional) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="atb.app.link"
                    android:scheme="https" />
                <!-- example-alternate domain is required for App Links when the Journeys/Web SDK and Deepviews are used inside your website. -->
                <data
                    android:host="atb.app.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_ni0ofRv7D5RNhBAjiZhaUognsFfHXQMQ" />
        <meta-data
            android:name="io.branch.sdk.BranchKey.test"
            android:value="secret_live_DDG6jBhZX91nXoOOIbjiA3DvJtvTfb7j" />
        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="false" />

        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="${applicationId}.braintree" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <provider
            android:name=".util.GenericFileProvider"
            android:authorities="com.atb.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>

        <meta-data
            android:name="com.applozic.application.key"
            android:value="@string/applozic_key" /> <!-- Replace with your Applozic App ID -->
        <meta-data
            android:name="com.applozic.mobicomkit.notification.smallIcon"
            android:resource="@mipmap/ic_launcher" /> <!-- Replace this with a valid resource name for Launcher white Icon -->
        <meta-data
            android:name="activity.open.on.notification"
            android:value="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity" /> <!-- NOTE : Do NOT change this value -->
        <meta-data
            android:name="com.package.name"
            android:value="${applicationId}" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.BackgroundService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".service.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.BootReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/notification_channel_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>